@import './mixins.scss';

.micromaterial-list {
    list-style-type: none;
}

.micromaterial-url {
    margin: 1.5em;
    padding: 1em;
    font-size: 1rem;
    border-radius: 1em;
    text-align: center;
    background: #E7D3BA;
    box-shadow: 5px 5px 10px #1E2035;
;

    @include respond-to("small") {
        font-size: 1.75rem;
    }
}

a {
    color: black;
}

.no-data {
    font-size: 3rem;
    margin: 1em;
    color: #1B1C30;
}

.welcome-text {
    margin: 0.5em;
    text-align: center;
    color: #1B1C30;
    max-width: 10em;
}

.label-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label {
    margin: 0.25em;
    background: lightblue;
}